@import '../styles.scss';

.game {
    display: flex;
    
    border: 3px solid black;
    background-color: $color-bg;
    width: fit-content;
}

.game__sidebar {
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: 100%;
}

.container {
    width: fit-content;
}

.controls {
    text-align: center;
    font: sans-serif;
}

