$color-back: #a2b6ab;

.game {
    display: flex;
    
    border: 3px solid black;
    background-color: $color-back;
    width: fit-content;
    //height: 30rem;
}

.game__sidebar {
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: 100%;
}