$brick-size: 24px;
$brick-inner-size: 14px;
$border-size: 3px;

$color-inactive: #8f9e99;
$color-back: #a2b6ab;

.brick {
    width: $brick-size;
    height: $brick-size;
    margin: 1px;
    
    border: $border-size solid black;
    background: $color-back;
}

.brick__inner {
    width: $brick-inner-size;
    height: $brick-inner-size;    
    margin: 2px;
    background: black; 
}

.brick-inactive {
    border: $border-size solid $color-inactive;
    background: $color-back;
}

.brick__inner-inactive {
    background: $color-inactive;
}
